# Frontend
livyfy-frontend/node_modules/
livyfy-frontend/dist/

# AI Service
ai-service/venv/
ai-service/__pycache__/
ai-service/*.pyc
ai-service/.env

# Global
**/.DS_Store
**/*.log
.env
ai-service/.env
